﻿@model cubedstars.com.Models.LogOnModel

@{
    ViewBag.Title = "Вход";
}

<h2>Вход</h2>
<p>
    Введите имя пользователя и пароль. @Html.ActionLink("Зарегистрируйтесь", "Register"), если у вас нет учетной записи.
</p>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@Html.ValidationSummary(true, "Не удалось выполнить вход. Исправьте ошибки и повторите попытку.")

@using (Html.BeginForm()) {
    <div>
        <fieldset>
            <legend>Сведения учетной записи</legend>

            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="editor-label">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>

            <p>
                <input type="submit" value="Вход" />
            </p>
        </fieldset>
    </div>
}
